@import url('https://fonts.googleapis.com/css2?family=Arima:wght@100&family=Caveat:wght@500&family=Indie+Flower&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.navbar {
    display: flex;
    justify-content: space-between;
    align-items: space-between;
    font-size: 20px;
    color: whitesmoke;
}

.body   {
    font-family: 'Arima', cursive;
}

.cardWelcome {
    display: flex;
    justify-content: center;
    text-align: center;
}

.card1 {
    display: flex;
    justify-content: space-between;
    text-align: space-between;
    margin-left: 10px;
  
}


.colCenter {
    border-radius: 10px;
    margin-top: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgCenter {
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

